.flashcard-page {
    position: relative;
    overflow: hidden;
    padding-top: 60px;
    z-index: 0;
}
.fl-header {
    background-color: #2D5A27;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 0 30px;
    box-sizing: border-box;
    z-index: 1000;
    color: white;
}
.topic-selection-page-wrapper {
    padding-top: 35px;
    min-height: 103vh;
    background-color: #f0f8ff;
    z-index: 5;
}
.flippable {
    position: absolute;
    left: 50%;
    transform: translateX(-50%); 
    transition: transform 0.6s ease-out, opacity 0.4s ease-out;
    box-sizing: border-box;
    width: 460px;
    width: 30%;
    height: 545px;
    top:245px;
    perspective: 1000px;
    transform-style: preserve-3d;
}
.flashcard-container {
    position: relative;
    width: 100%;
    height: 580px;
    margin: 20px auto;

}
.flippable__inner {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    transform-style: preserve-3d;
}
.flippable.flipped .flippable__inner {
    transform: rotateY(180deg);
}
.flippable__content {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #fff;
    border-radius: 10px;
    padding: 0px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
    font-size: 2.1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    text-align: center;
    gap: 5px;
}
.flippable__content.back {
    transform: rotateY(180deg);
    padding: 15px;
}
.fl-header .return {
    color:white;
    font-size: 1.8rem;
    text-decoration: none;
    font-weight: bold;
}
.fl-header .return:hover {
    color: #e1dede;
}
.card-index {
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
    color: #666;
    font-weight: 600;
    z-index: 10;
}
.card-main-content {
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}
.footer {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    width: 80%;
    max-width: 300px;
}
.nav-button {
    background-color: #fff;
    border: 3px none black;
    cursor: pointer;
    color: gray;
    font-size: 1.2rem;
    margin: 0.5px;
}
.quay {
    background: none;
    border: none;
    cursor: pointer;
    color: #007bff;
    font-size: 18px;
}
.fl-header .userId {
    font-size: 1.5rem;
    color: rgb(60, 45, 45);
    font-weight: 500;
}
.topic {
    text-align: center;
    padding-top: 1vh;
    padding-bottom: 0vh;
    color: whitesmoke;
}
.close-card {
    position: absolute;
    align-self: self-end;
    background: none;
    cursor: pointer;
    font-size: 1.2rem;
    border: none;
    padding: 2px 2px;
    top: 5px;
    right: 10px;
}
.logout {
    position: absolute;
    top: 100%;
    right: 0;
    cursor: pointer;
    font-weight: bold;
    border: 1px solid none;
    background: white;
    border-radius: 8px;
    padding: 5px 1px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 80px;
    font-size: 1.2rem;
}
.user-Infor {
    position: relative;
}
.logout1{
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid none;
  border-radius: 8px;
  padding: 0px 6px 0px 5px;
  color: rgb(30, 33, 30);
  gap: 2px;
}
.logout1:hover{
  background-color: #f0f0f0;
  color:  rgb(30, 33, 30);
}

.logout-item {
    cursor: pointer;
    width: 100%;
    border: 1px solid none;
  border-radius: 8px;
}

.logout-item:hover {
    background-color: #f0f0f0;
}
.user-Infor{

  position: relative;

}

.logout2{
  position: absolute;
  top: 100%;
  right: 0;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid none;
  background: white;
  border-radius: 8px;
  padding: 5px 1px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 80px;
}
.logout:hover{
  background-color: #f0f0f0;
}

.image-main1 {
    opacity: 0;
    animation: scaleInFade 1s ease-out 1s ; 
    animation-name: scaleInFade, subtleFloatX;
    animation-duration: 2s, 6s;
    animation-delay: 0.5s, 2s;
    animation-timing-function: ease-out, ease-in-out;
    animation-fill-mode: forwards, forwards;
    animation-iteration-count: 1, infinite;
    animation-direction: normal, alternate;
}

@keyframes scaleInFade {
    0% { opacity: 0; transform: scale(0.95); }
    100% { opacity: 1; transform: scale(1); }
}

@keyframes subtleFloatX {
    0% { transform: translateX(0); }
    50% { transform: translateX(-25px); }
    100% { transform: translateX(0); }
}

.start-quiz:hover{
  transform: scale(1.1);
}
.start-quiz {
    display: block;
    margin: 30px auto 0;
    background: #2D5A27;
    color: white;
    padding: 14px 40px;
    border-radius: 30px;
    font-weight: 600;
    border: none;
    box-shadow: 0 4px 15px rgba(45, 90, 39, 0.2);
    cursor: pointer;
    transition: all 0.3s;
}
.back-card {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2px 2px;
    box-sizing: border-box;
}
.b-unknow, .b-know {
    flex-basis: 34%;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 2px;
}
.unknow {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    width: 100%;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: bold;
}
.unknow:hover {
    background-color: #f1a9af;
}
.know {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    width: 100%;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: bold;
}
.know:hover {
    background-color: #92d49e;
}
.learn-process {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 400px;
    margin: 10px auto;
    padding-top: 0px;
    margin-top: 5px;
}
.un, .known {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;
}
.un { color: #cc5200; }
.known { color: #167d7f; }
.un .learn {
    background-color: #ffeadc;
    color: #9b4007;
    padding: 3px 20px;
    border-radius: 10px;
    margin-right: 10px;
    font-weight: bold;
    font-size: 1.2rem;
    border: 1px solid #ff8c42;
}
.known .master {
    background-color: #e6f6f5;
    color: #0b726d;
    padding: 3px 20px;
    border-radius: 10px;
    margin-left: 10px;
    font-weight: bold;
    font-size: 1.2rem;
    border: 1px solid #38b2ac;
}
@keyframes wiggle {
    0%, 100% { transform: rotate(0deg) scale(1.0); }
    20%, 80% { transform: rotate(-3deg) scale(1.1); }
    40%, 60% { transform: rotate(3deg) scale(1.2); }
}
@keyframes pop {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}
.un .learn[data-trigger] { animation: wiggle 0.8s ease-in-out, pop 0.4s ease-out; }
.known .master[data-trigger] { animation: wiggle 0.8s ease-in-out, pop 0.4s ease-out; }

.flippable.is-current,
.flippable.is-entering-known,
.flippable.is-entering-unknown,
.flippable.is-unknown-stay {
    opacity: 1;
    z-index: 10;
    transform: translateX(-50%) !important;
}

.flippable.is-hidden {
    opacity: 0;
    pointer-events: none;
    z-index: 1;
    transform: translateX(-50%) !important;
}

.flippable.is-known-out, 
.flippable.is-unknown-out {
    z-index: 20; 
}
.flippable.is-current,
.flippable.is-entering-known,
.flippable.is-entering-unknown {
    z-index: 5;
}


.flippable.is-known-out {
    transform: translateX(200vw) !important;
    opacity: 0;
    pointer-events: none;
}

.flippable.is-unknown-out {
    transform: translateX(-200vw) !important;
    opacity: 0;
    pointer-events: none;
}

.feedback-overlay {
    position: absolute;
    top: 62.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 455px;
    height: 545px;
    z-index: 50;
    opacity: 0;
    transition: opacity 0.2s ease;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.feedback-overlay.is-visible { opacity: 1.2; }
.feedback-overlay .feedback-image {
    width: 100%; 
    height: 100%; 
    
     object-fit: cover;
    
    border-radius: 10px; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
.topic-selection-page-container {
    background-color: #e8f3ec; 
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
    overflow: hidden;
    padding-top: 60px; 

}
.topic-selection-page-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%; 
    height: 100%;
    background-color: #FFFFF0; 
    z-index: 0;
    
    clip-path: path('M0,0 L450,0 C550,200 300,400 500,600 C650,800 400,1000 450,1200 L0,1200 Z');
}

.floating-icon {
    position: absolute;
    will-change: transform, opacity; 
    backface-visibility: hidden;
    transform: translateZ(0);
    pointer-events: none;
    user-select: none;
    opacity: 0.6;
    z-index: 1;
    -webkit-backface-visibility: hidden;
}
.decorations-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; 
    pointer-events: none;
}
.star { color: #2D5A27; font-size: 1.5rem; }
.circle-deco { 
    width: 20px; height: 20px; 
    border-radius: 50%; 
    border: 2px solid #408457; 
    color: #27a143;
}

@keyframes float {
    0% { transform: translateY(0px) rotate(0deg); }
    50% { transform: translateY(-20px) rotate(10deg); }
    100% { transform: translateY(0px) rotate(0deg); }
}

.icon-1 { top: 25%; left: 7%; font-size: 5vw; }
.icon-2 { bottom: 15%; right: 15%;font-size: 6vw;}
.icon-3 { top: 35%; right: 30%;   }
.icon-4 { bottom: 45%; left: 15%;font-size: 3.5vw; }
.icon-5 { top: 18%; left: 50%; font-size: 2.5vw;}
.icon-6 { bottom: 15%; left: 15%;  font-size: 5vw;}
.icon-7 { bottom: 30%; right: 10%;  font-size: 5vw;}
.icon-8 { top:20%; right: 10%; animation: float 4.5s ease-in-out infinite 2s; font-size: 6vw;}
.icon-9 { top:250px; left:  290px;  font-size: 6vw;}
.icon-10 { top:150px; right:  300px; animation: float 4.5s ease-in-out infinite 2s; font-size: 6vw;}
.icon-11 { top:300px; right:  80px; animation: float 4.5s ease-in-out infinite 2s; font-size: 6vw;}
.icon-12 { top:600px; left:  50px;  font-size: 6vw;}
.icon-13 { top:300px; right:  300px;  font-size: 6vw;}

.selection-card {
    background: white;
    padding: 40px;
    border-radius: 30px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.05);
    width: 450px; 
    min-height: 500px; 
    z-index: 2;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.selection-card h1 {
    font-size: 2rem;
    color: #2D5A27;
    margin-bottom: 30px;
    font-weight: 800;
}

.image-main1 {
    position: absolute; 
    bottom: 113px;
    left: 60px;
    z-index: 1;
}

.image-main1 img {
    width: 400px; 
    height: auto;
    opacity: 0.90;
}

.form-group {
    text-align: left;
    margin-bottom: 15px;
}

.form-group label {
    font-size: 1.2rem;
    font-weight: 600;
    color: #555;
    margin-bottom: 5px;
    display: block;
}

.topic-select {
    width: 100%;
    padding: 12px;
    border: 1px solid #d1e2d6;
    border-radius: 15px;
    background-color: #f9fbf9;
    color: #2D5A27;
    outline: none;
}
.shape1 {
    position: absolute;
    z-index: 1; 
    opacity: 0.8; 
}

.shape1-1 {
    width: 500px;
    height: 500px;
    background-color: #f0f8ff; 
    border-radius: 40% 60% 70% 30% / 40% 40% 60% 60%;
    top: -150px;
    left: -100px;
    animation: rotateShape 20s linear infinite;
}



