.a{
    align-items: center;
    justify-content: center;
    padding: 10px 18px;
    border-radius: 36px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.0rem;
    height: 20px;
    width: 250px;
}
.input-row{
    padding: 4px;
}
.btn-primary{
    color: black;
    background-color: rgb(242, 240, 238);
    font-size: 1rem;
}
.btn-primary:hover{
    background-color: rgb(167, 172, 170);
   
}